<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TransportConfiguration xsi:type="TcpClientConfiguration">
    <Name>MyPort</Name>
    <HostName>localhost</HostName>
    <Port>11235</Port>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="TcpClientConfiguration">
    <Name>MATLAB</Name>
    <HostName>localhost</HostName>
    <Port>11235</Port>
  </TransportConfiguration>
</TransportConfigurationSettings>